/Cadenas Java/CadenasJava/nbproject/private/
/Cadenas Java/CadenasJava/build/
/Cadenas Java/EntradaDatosConsola/nbproject/private/
/Entrada de datos por consola/EntradaDatosConsola/nbproject/private/
/Entrada de datos por consola/EntradaDatosConsola/build/
/NumerosAleatorios/nbproject/private/
/NumerosAleatorios/build/
/SerpienteInfinita/nbproject/private/
/SerpienteInfinita/build/
/FormateoCadenas/target/
/SuperMercado/target/
/SuperMercadoPOO/target/
/Operadores/target/
